<div id="container-instructions">

    <h1>Ready for experiment</h1>

    <hr />

    <div class="instructions well">


   

        <p>
            This is the last page before the full experiment. You will receive 1 dolar cent for each memory trial. Each memory trial lasts for 2 to 3 seconds. 

            <b> Trials are very easy, but if we find you answered randomly your bonus will be lower or you will be even disqualified.</b>

                 <p style="color:#FF0000";>Remember that you can abort the experiment at any time, but with a penalty of 50cent</p>
        </p>
        </p>
        

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <center>
                    <button type="button" id="repeat" value="repeat" class="btn btn-primary btn-lg continue">
                    Repeat training <span class="glyphicon"></span>
                    </button>
                </center>
            </div>
            <div class="col-xs-8">
                <center>
                    <button type="button" id="begin" value="next" class="btn btn-success btn-lg continue">
                    Begin experiment <span class="glyphicon"></span>
                    </button>
                </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
