<div id="container-instructions">

    <h1>Ready for experiment</h1>

    <hr />

    <div class="instructions well">


        <p> Remember that you can abort the experiment at any time, but your maximum reward will be decreased by $1 relative to if you complete the full experiment.
        </p>

        <p>
            This is the last page before the full experiment. 
        </p>
        

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <center>
                    <button type="button" id="repeat" value="repeat" class="btn btn-primary btn-lg continue">
                    Repeat training <span class="glyphicon"></span>
                    </button>
                </center>
            </div>
            <div class="col-xs-8">
                <center>
                    <button type="button" id="begin" value="next" class="btn btn-success btn-lg continue">
                    Begin experiment <span class="glyphicon"></span>
                    </button>
                </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
