<div id="container-instructions">

    <h1>Pay attention to circle. This is the most important part.</h1>

    <hr />

    <div class="instructions well">

        <p>
            <p>At this point you have to pay attention to <b> circle location</b>. This circle will appear on the screen for a very brief period before disappearing completely. 

            <p><b>We kindly ask you to focus on the center of the screen as much as you can, even if you think this is counter intuitive. </b></li></p>
            <p></p>

         <p>
            Remember that you can't remove your mouse from the center when the box is black without a penalty of 5cent.
        </p>
         
        </ul>
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

     <center>
        <svg  width="800" height="400">
            <image id="delay" x="0" y="0" width="800" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="static/images/presentation.png">
            </image
            >
        </svg>
    </center>
    
    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
