<div id="container-instructions">

	<h1>Overall Instructions</h1>

	<hr />

	<div class="instructions well">

<p> You will be asked to perform a task which will probe your working memory precision. It's been reported in the scientific literature that working memory capacity its highly correlated with IQ. 

<p><b>Upon experiment termination, you will be told by email how was your performance relative to all the other participants. Do not try to cheat if you want to get a real report on how good you are. The final bonus does not strictly depend on your performance, but if we find out you cheated or answered randombly you will not recieve any bonus.</b></p>


 <p style="color:#ff6961";>On top of the base rate, you will recieve 0.5cent per memory trial. There is an extra bonus of 10% if you do more than 500 trials. If you reach the 500 trials roof without answering randomly, you will get a total bonus of $2.75. 500 trials takes less than 15min to complete. If you reach a roof of 1000 trials, you will get a total bonus of $5.5.</p>


<p><b>Short summary</b><p></p>

<p>
You will be briefly shown a black circle at random locations. At the end of each trial, you will be asked to report the location of that circle. 

<p>
More detailed instructions will follow. On the following screens, you will see a simulation of the kind of trials you can expect to encounter. Each page corresponds to a step on the real HIT but bare in mind that in the real HIT they will happend one of after the other with no pause except at the end of each trial, while waiting for your answer. 
</p>

<b>Final test</b><p></p>

<p>
Finally, before the actual HIT you will see a small set trials. 
</p>
	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
