<div id="container-instructions">

    <h1>Instructions for training</h1>

    <hr />

    <div class="instructions well">
        
       <b>Final test</b>
       <p></p>

        You will now see a small set of trials. Feel free to try out until you understand how the task works. When you complete the training at least once, you can start the real experiment.

        <p></p>

        <b>Upon experiment termination, you will be told by email how was your performance relative to all the other participants. Do not try to cheat and try to focus on the black box, if you want to get a real report on how good you are and deliver data that will be useful to science.</b>

        <b>You will recieve 1cent per memory trial, up to a maximum of 5$.</b>

       <p></p>
        Good luck!
        </p>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin training <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
