<div id="container-instructions">

    <h1>Instructions for training</h1>

    <hr />

    <div class="instructions well">
        
       <b>Final test</b>
       <p></p>

        You will now see a small set of trials. Feel free to try out until you understand how the task works. When you complete the training at least once, you can start the real experiment.

        <p></p>

  <p style="color:#ff6961";>On top of the $0.1 base rate, you will recieve 0.5cent per memory trial. There is an extra bonus of 10% if you do more than 500 trials. If you reach the 500 trials roof without answering randomly, you will get a total bonus of $2.75. 500 trials takes less than 15min to complete. If you reach a roof of 1000 trials, you will get a total bonus of $5.5.</p>


       <p></p>
        Good luck!
        </p>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin training <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
